*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#dis a{
    text-decoration: none;
    color:white ;
}
.aboutTitle {
    text-align: center;
    margin-bottom: 20px; 
    background: -webkit-linear-gradient(rgb(202,172,121),rgb(236,197,133));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px !important;
    font-weight: 400;
}

