@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lilita+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
.details{
    margin-top: 25%;
    background-color: transparent;
    border: none;
    
    
}
.details h1{
    
    color: white;
}
.details h6{
    margin-top: 15px;
    font-size: 15px !important;
}
.view-opening{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: orange;
    margin-top: 10px;
    font-size: 13px;
}
.current{
    text-align: center;
    padding: 10px;
}
.btn{
    margin-top: 15px;
}
.apply {
    padding: 5px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.card-col{
    background-color: red;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px grey;
}
.boxes {
    display: flex;
    justify-content: space-around;
}

.card-shop{
    padding: 25px 25px 25px 25px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px  grey;
}
.card-shop ul {
    text-align: start;
}
.card-shop ul li{
    text-align: start;
    margin-top: 5px;
 
}
/* .btn-preview{
padding: 5px 10px;
border: none;   
color: white;
border-radius: 5px;
font-weight: 500;
font-family: "Nunito Sans", sans-serif;
} */
.open h3{
    color: grey;
    font-weight: 300 !important;
}
 h1{
    color: white;
    font-weight: 200;
}
h5{
    color: black;
    font-weight: 300;
}
h6{
    color: grey;
    font-weight: bolder;
}
