@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact{
    background-color: rgb(242, 244, 246);
    
}
.form{
    background-color: rgb(242, 244, 246);
    color: black;
}
.rounded{
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    iframe{
        height: 300px;
        width: 300px;
    }

}

.get {
    color: #ffff !important;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
}
.connect{
    font-family:  "Lexend", sans-serif;
    font-weight: 400;

}