*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    width: 100%;
}
.services-li{
    background-color: red;
}

.footerBlock{
    background-color: black;
    max-width: 100%;
}
.fullWidthContainer {
    padding-left: 0;
    padding-right: 0px;
}

.footer-col .social-links{
    text-align: start;
}
.footer-col .social-links a{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: rgba(225, 255, 255, 0.2);
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 18px;
  
}
.footer-col .social-links a:hover{
    color: #23262b;
    background-color: #ffffff;
}
.bottom-1,.bottom-2,.bottom-3{
    margin-top: 80px;
}
@media screen and (max-width: 450px) {
    iframe{
        height: 150px;
        width: 300px;
    }

}
@media screen and (max-width: 290px) {
    iframe{
        height: 150px;
        width: 220px;
    }

}
iframe{
    border-radius: 10px;
}














