*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    box-shadow: 0px 0px  10px rgb(0, 0, 0);

}
.services-li{
    background-color: red;
}

.footerBlock{
    background-color: rgb(28, 41, 47);
}
.footerRight{
    background-color: rgb(28, 41, 47);
 

}
.fullWidthContainer {
    padding-left: 0;
    padding-right: 0px;
}

.footer-col .social-links{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: rgba(225, 255, 255, 0.2);
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    color: #ffffff;
    transition: all 0.2s ease;
    font-size: 18px;
  
}
.footer-col .social-links a:hover{
    color: #23262b;
    background-color: #ffffff;
    border-radius: 50%;
}
.bottom-1,.bottom-2,.bottom-3{
    margin-top: 80px;
}
.social-div{
    display: flex;
    align-items: center;
    transition: 2s;

}

iframe{
  padding: 20px;
  margin: 0px;
  width: 100%;
  border-radius: 30px;
 
}
.footerTitle{
    background: -webkit-linear-gradient(rgb(202,172,121),rgb(236,197,133));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.footerSubTitle{
    color: white !important;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    iframe{
        height: 150px;
       width: 100%;
    }

}
@media screen and (max-width: 290px) {
    iframe{
        height: 150px;
        width: 100%;
    }

}


.service li:hover{
    transition: all 0.3s;
    margin-left: 15px;
}
.company li:hover{
    transition: all 0.3s;
    margin-left: 15px;
}
.foot{
    color: white;
}
 .companyName{
    background: -webkit-linear-gradient(rgb(202,172,121),rgb(236,197,133));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }






