@import url('https://fonts.googleapis.com/css2?family=Acme&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contents-h1{
    color: white;
    font-family: "Nunito Sans", sans-serif;;
    /* font-size: 90px; */
    font-size: 90px;
    font-weight: 900;
    background: -webkit-linear-gradient(	#2b2b2b,#FFFFFF,	#2b2b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
@media screen and (max-width: 940px) {
    .contents-h1{
        color: white;
        font-family: "Nunito Sans", sans-serif;;
        /* font-size: 90px; */
        font-size: 50px;
        font-weight: 900;
        background: -webkit-linear-gradient(	#2b2b2b,#FFFFFF,	#2b2b2b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }
}

@media screen and (max-width: 380px) {
    .contents-h1{
        color: white;
        font-family: "Nunito Sans", sans-serif;;
        /* font-size: 90px; */
        font-size: 30px;
        font-weight: 900;
        background: -webkit-linear-gradient(	#2b2b2b,#FFFFFF,	#2b2b2b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }

  
    .button-home{
        display: flex;
        flex-direction: column;
    }
}
.content-h3{

  font-family: "Acme", sans-serif;
    font-weight: 500;
    color: rgb(94, 93, 93);
}



.btn2 a{
    color: white;
    text-decoration: none;
}
/* ************************************ */

/* Header */
.largeheader {
    position: relative;
    width: 100%;
    background: red;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
.more,.us{
    padding: 10px ;
    width: 150px;
    
}
.us{
    margin-left: 10px;
}






  .elevate{
    font-weight: bold;
      font-family: "DM Serif Display", serif;
      font-size: 3vw;
  }
  .Discover{
      margin-left: 10px;
      color:silver;
  }
  .primary {
      background-color:black;
      color: white;
      padding: 10px 25px;
      border-radius: 5px;
      border: none;
      margin-left: 10px;
      border: 1px solid;
      width: 150px;
  
  }
  .Discover{
      font-size: 1vw;
  }
 
 