*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: "Nunito Sans", sans-serif;
}
.logo{
    height: auto;
    width: 100px;
    margin-left: 20px !important;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.sideBar{
    background-color: rgb(12, 12, 51);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.sideBar h5{
    font-size: 28px;
}
.sideBarBody{
    line-height: 3;
    color: white;
    background: linear-gradient(rgb(12, 12, 51),rgb(63, 1, 1));
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
